.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    background-color: grey;
    text-transform: uppercase;
    color: #f5f5f5;
}

.header_button {
    position: relative;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    cursor: pointer;
}
.button {
    position: absolute;
    left: 50%;
    width: 4rem;
    height: 0.4rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.button.one {
    top: 1rem;
    transform: translateX(-50%);
}

.button.two {
    top: 50%;
    transform: translate(-50%, -50%);
}
.button.three {
    bottom: 1rem;
    transform: translateX(-50%);
}

/* <---- Header Button ----> */

.header.button.one {
    animation: playButton1 6s ease infinite;
}

.header.button.two {
    animation: playButton2 6s ease infinite;
}
.header.button.three {
    animation: playButton3 6s ease infinite;
}
.header.button {
    animation-delay: 3s;
}

@keyframes playButton1 {
    /* Animation 1 Normal */
    0% {
        top: 1rem;
        transform: translateX(-50%);
    }
    10% {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    70% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    80% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        top: 1rem;
        transform: translateX(-50%); 
    }
}

/* BUTTON ANIMATION 2 */
@keyframes playButton2 {
    /* Animation 1 Normal */
    0% {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    70% {
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    80% {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%); 
    }
}

/* BUTTON ANIMATION 3 */
@keyframes playButton3 {
    /* Animation 1 Normal */
    0% {
        bottom: 1rem;
        transform: translateX(-50%);
    }
    10% {
        bottom: 50%;
        transform: translate(-50%, 50%);
    }
    20% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    70% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    80% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(0deg);
    }
    100% {
        bottom: 1rem;
        transform: translateX(-50%); 
    }
}
