$orange: #ff652f;
$green: #14a76c;
$yellow: #ffe400;
$pink: #e64398;
$grey: #a7a7a7;
$black: #272727;

@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
        @media (max-width: 64em) { @content}
    };
    @if $breakpoint == mobile {
        @media (max-width: 46em) { @content ; }
    }
}