body {
    background-image:linear-gradient(15deg, rgba($black, 0.95), rgba($black, 0.95)), url('../assets/fast_bg.jpg');
    background-position: center;
    background-size: cover;
    background-color: $black;
}
.hidden {
    display: none;
}
.header {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    color: $grey;
}
.title {
    display: flex;
    align-items: center;
}

.burgers {
    margin-top: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.container {
    position: relative;

    width: 20%;
    padding-top: 8.5rem;
    padding-bottom: 7rem;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include responsive(mobile) {
        width: 50%;
        padding-top: 7rem;
        padding-bottom: 5rem;
    }

    &_title {
        position: relative;
    }
}

.disappear, .spilled, .arrow {
    &.topping {
        background-color: $green;
        box-shadow: 1px 1px 3px rgba($green, 0.2);
    }
    :hover {
        .topping {
            background-color: darken($green, 10%);
        }
    }
}
.collapse, .minus, .slide {
    .topping {
        background-color: $yellow;
        box-shadow: 1px 1px 3px rgba($yellow, 0.2);
    }
    :hover {
        .topping {
            background-color: darken($yellow, 10%);
        }
    }
}
.spin, .basic {
    &.topping {
        background-color: $orange;
        box-shadow: 1px 1px 3px rgba($orange, 0.2);
    }
    :hover {
        .topping {
            background-color: darken($orange, 10%);
        }
    }
}
.stand, .arrowAlt {
    &.topping {
        background-color: $pink;
        box-shadow: 1px 1px 3px rgba($pink, 0.2);
    }
    :hover {
        .topping {
            background-color: darken($pink, 10%);
        }
    }
}