body {
    background-image:linear-gradient(15deg, rgba($black, 0.95), rgba($black, 0.95)), url('../assets/fast_bg.jpg');
    background-position: center;
    background-size: cover;
    background-color: $black;
}
.hidden {
    display: none;
}
.header {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    color: $grey;
}
.title {
    display: flex;
    align-items: center;
}

.burgers {
    margin-top: 0.2rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(22rem, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1px;
    width: 100%;
}
.container {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_title {
        position: relative;
    }
}
.burger {
    .topping {
        &.disappear {
            background-color: $green;
        }
        &.collapse {
            background-color: $yellow;
        }
        &.spin {
            background-color: $orange;
        }
        &.stand {
            background-color: $yellow;
        }
        &.minus {
            background-color: $orange;
        }
        &.basic {
            background-color: $green;
        }
    }
}