// Minimize All Below
.button_header {
    text-transform: capitalize;
    position: absolute;
    width: fit-content;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    position: absolute;
    left: 50%;
    width: 4rem;
    height: 0.4rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.button.one {
    top: 1rem;
    transform: translateX(-50%);
}

.button.two {
    top: 50%;
    transform: translate(-50%, -50%);
}
.button.three {
    bottom: 1rem;
    transform: translateX(-50%);
}


/* BUTTONS SECTION  */ /* BUTTONS SECTION  */ /* BUTTONS SECTION  */ /* BUTTONS SECTION  */
/* <---- Disappear Button ----> */
.disappear.button {
    transition: all 0.15s ease-in;
}
.disappear.button.one.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.disappear.button.two.closed {
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.disappear.button.three.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* <---- Collapse Button ----> */
.collapse.button {
    transition: transform 0.07s ease-in, top 0.09s ease 0.07s;
}

.button.collapse.closed {
    transition: transform 0.07s ease-in 0.09s, top 0.09s ease-in;
}
.collapse.button.one.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.collapse.button.two.closed {
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.collapse.button.three.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* <---- Spin Button ----> */
.spin.button_container {
    transition: all 0.1s ease-in;
}
.spin.button_container.closed {
    transform: translate(-50%, -50%) rotate(180deg);
}
.spin.button {
    transition: all 0.08s ease-in 0.1s;
}
.spin.button.one.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
}

.spin.button.two.closed {
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.spin.button.three.closed {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-315deg);
}

/* <---- Stand Button ----> */
.stand.button_container {
    transition: all 0.07s ease-in;
}
.stand.button_container.closed {
    transform: translate(-50%, -50%) rotate(90deg);
}
.stand.button {
    transition: all 0.08s ease-in 0.1s;
}
.stand.button.one.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.stand.button.two.closed {
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.stand.button.three.closed {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
}

/* <---- Minus Button ----> */
.minus.button {
    transition: all 0.09s ease-in;
}

.minus.button.one.closed {
    top: 50%;
    transform: translate(-50%, -50%);
}

.minus.button.two.closed {
    top: 50%;
    transform: translate(-50%, -50%);
}
.minus.button.three.closed {
    bottom: 50%;
    transform: translate(-50%, 50%);
}


/* <---- Basic Button ----> */
.basic.button.one.closed {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.basic.button.two.closed {
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.basic.button.three.closed {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
}